---
import MainLayout from "~/layouts/MainLayout.astro";
import NavLayout from "~/layouts/NavLayout.astro";
---

<MainLayout title="About" description="About Me!">
  <NavLayout>
    <div class="mb-4">
      <h1 class="leading-none tracking-tight font-bold text-xl">About</h1>
    </div>
  </NavLayout>
</MainLayout>
