---
import Container from "~/components/Container.astro";
import MainLayout from "~/layouts/MainLayout.astro";
import NavLayout from "~/layouts/NavLayout.astro";
---

<MainLayout title="About" description="About Me!">
  <NavLayout>
    <Container innerPage>
      <div class="mb-4">
        <h1 class="leading-none tracking-tight font-bold text-xl">About</h1>
      </div>
    </Container>
  </NavLayout>
</MainLayout>
