---
import Container from "~/components/Container.astro";
import PortableText from "~/components/PortableText/PortableText.astro";
import WakatimeStats from "~/components/WakatimeStats.astro";
import MainLayout from "~/layouts/MainLayout.astro";
import NavLayout from "~/layouts/NavLayout.astro";
import { loadQuery } from "~/lib/sanity/load-query";
import { ABOUT_QUERY } from "~/lib/sanity/queries";

const { result } = await loadQuery({ query: ABOUT_QUERY });

if (!result) {
  return null;
}
---

<MainLayout
  meta={{
    title: "About",
    description: "About Me!",

    og: {
      title: "About",
      description: "About Me!",
    },

    twitter: {
      title: "About",
      description: "About Me!",
    },
  }}
>
  <NavLayout>
    <Container innerPage>
      <div class="mb-4">
        <h1 class="text-xl leading-none font-bold tracking-tight">About</h1>
      </div>

      <PortableText data={result.bio} class="max-w-none" />

      <div class="no-js">
        <WakatimeStats />
      </div>

      <!-- <RecentlyPlayed server:defer /> -->
    </Container>
  </NavLayout>
</MainLayout>
