---
import { IconLink } from "@tabler/icons-react";
import type { BlockProps } from "astro-portabletext/types";
import { z } from "zod";

import { getTextFromPortableTextBlock } from "~/lib/utils";

const headingTagsSchema = z
  .union([
    z.literal("h1"),
    z.literal("h2"),
    z.literal("h3"),
    z.literal("h4"),
    z.literal("h5"),
    z.literal("h6"),
  ])
  .catch("h6");

type Props = BlockProps;

const { node } = Astro.props;

const Tag = headingTagsSchema.parse(node.style);

const headerSlug = getTextFromPortableTextBlock(Astro.props.node)
  .replace(/\s/g, "-")
  .toLocaleLowerCase();
---

<Tag class="group">
  <slot />

  <a
    href={`#${headerSlug}`}
    aria-label={headerSlug}
    rel="noopener noreferrer"
    target="_self"
    class="text-muted-foreground inline-flex text-[70%] opacity-0 transition-opacity group-hover:opacity-100"
  >
    <IconLink className="relative-icon" />
  </a>
</Tag>
