---
import { ArrowUpRight, Calendar, Clock } from "lucide-react";

import MainLayout from "~/layouts/MainLayout.astro";
import NavLayout from "~/layouts/NavLayout.astro";
import { formatDateWithLocalized, getReadingTime } from "~/lib/date";
import { loadQuery } from "~/lib/sanity/load-query";
import { PAGINATED_POSTS_QUERY } from "~/lib/sanity/queries";

const { result } = await loadQuery({ query: PAGINATED_POSTS_QUERY });
---

<MainLayout title="Blog" description="Blog posts">
  <NavLayout>
    <div class="grid gap-4 grid-cols-3">
      {
        result.data.map((post) => (
          <article>
            <div class="flex justify-between items-end">
              <div>
                <h2 class="line-clamp-1">{post.title}</h2>
                <div class="inline-flex text-center gap-2">
                  <span class="inline-flex items-center gap-1">
                    <Calendar className="inline w-[1em] h-[1em]" />
                    {formatDateWithLocalized(post.postedAt)}
                  </span>{" "}
                  &#xb7;
                  <span class="inline-flex items-center gap-1">
                    <Clock className="inline w-[1em] h-[1em]" />
                    {getReadingTime(post.wordCount)}
                  </span>
                </div>
              </div>

              <div>
                <a
                  href={`/blog/${post.slug.current}`}
                  class="border rounded-lg py-1 px-2 inline-flex text-center gap-2 transition-colors hover:bg-secondary"
                >
                  <span class="text-xs">More</span>
                  <ArrowUpRight className="inline w-[1em] h-[1em]" />
                </a>
              </div>
            </div>
          </article>
        ))
      }
    </div>
  </NavLayout>
</MainLayout>
