--warning: oklch(0.77 0.165 70.6);
--warning-foreground: oklch(0.962 0.057 95.6);
--success: oklch(0.757 0.199 151);
--success-foreground: oklch(1 0 0);
--info: oklch(0.736 0.131 235);
--info-foreground: oklch(1 0 0);
