@utility hover-link {
  @apply text-primary hover:decoration-primary font-semibold underline decoration-[--alpha(var(--muted-foreground)/.5)] decoration-2 transition;
}
@utility hover-link-icon {
  @apply text-primary hover:border-primary border-b-2 border-[--alpha(var(--muted-foreground)/.5)] font-semibold transition;
}
@utility relative-icon {
  @apply size-[1em];
}
@utility progress-border {
  @property --count {
    syntax: "<number>";
    inherits: true;
    initial-value: 0;
  }

  --count: 0;
  --progress-width: -0.125em;
  --border-color: var(--border);

  @keyframes counter {
    from {
      --count: 0;
    }
    to {
      --count: 100;
    }
  }

  animation: counter auto linear;

  @apply bg-background relative border;
  &::before {
    @apply absolute top-(--progress-width) right-(--progress-width) bottom-(--progress-width) left-(--progress-width) -z-50 block bg-transparent bg-[conic-gradient(var(--border-color),var(--border-color)_calc(1%*var(--count)),transparent_calc(1%*var(--count)))] content-[""];
  }
}
@utility no-js {
  @media (scripting: none) {
    display: none;
  }
}
@utility tooltip {
  @apply relative;

  --tooltip-arrow-size: 1rem;
  --tooltip-delay: 300ms;

  & > :not([data-tooltip-trigger]) {
    @apply cursor-help;
  }

  & > [data-tooltip-trigger] {
    @apply invisible absolute inset-[auto_0_100%] mx-auto mb-[calc((var(--tooltip-arrow-size)/2)+0.5rem)] size-fit opacity-0 transition-all;

    &::after {
      @apply absolute inset-[100%_0] mx-auto size-(--tooltip-arrow-size) origin-center -translate-y-1/2 rotate-45 border [border-width:inherit] border-transparent border-r-inherit border-b-inherit bg-inherit content-[""];
      clip-path: polygon(0% 100%, 100% 0%, 100% 0%, 100% 100%, 0% 100%);
    }
  }

  &:hover > [data-tooltip-trigger],
  &:focus-within > [data-tooltip-trigger] {
    @apply visible z-50 opacity-100 delay-(--tooltip-delay);
  }
}
