---
import MainLayout from "~/layouts/MainLayout.astro";
import NavLayout from "~/layouts/NavLayout.astro";
---

<MainLayout
  meta={{
    title: "404",
    description: "Page not found",
  }}
>
  <NavLayout>
    <div
      class="flex h-[50vh] flex-col items-center justify-center gap-7 px-20 text-center"
    >
      <p class="text-9xl font-black">404</p>
      <h1 class="text-4xl font-black">You have found a secret place.</h1>
      <p class="text-muted-foreground">
        Unfortunately, this is only a 404 page. You may have mistyped the
        address, or the page has been moved to another URL.
      </p>
      <a href="/" class="hover-link">Take me back to home page</a>
    </div>
  </NavLayout>
</MainLayout>
