---
import MainLayout from "~/layouts/MainLayout.astro";
import NavLayout from "~/layouts/NavLayout.astro";
import { getPostHogInstance } from "~/lib/posthog/node";

interface Props {
  error: unknown;
}

const { error } = Astro.props;

const _p = getPostHogInstance();
_p.posthog.captureException(error);
---

<MainLayout title="500" description="An Error Occured">
  <NavLayout>
    <div
      class="flex h-[50vh] flex-col items-center justify-center gap-7 px-20 text-center"
    >
      <p class="text-9xl font-black">500</p>
      <h1 class="text-4xl font-black">Something bad just happened...</h1>
      <p class="text-muted-foreground">
        Our servers could not handle your request. Don't worry, our development
        team was already notified. Try refreshing the page.
      </p>
      <a href="/" class="hover-link">Or take me back to home page</a>
    </div>
  </NavLayout>
</MainLayout>
