---
import Container from "~/components/Container.astro";
import MainLayout from "~/layouts/MainLayout.astro";
import NavLayout from "~/layouts/NavLayout.astro";
---

<MainLayout>
  <NavLayout>
    <Container innerPage>
      <h1>Astro</h1>
    </Container>
  </NavLayout>
</MainLayout>
