---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"input"> {
  label: string;
}

const { label, ...rest } = Astro.props;
---

<label class="relative flex cursor-pointer items-center">
  <span class="sr-only">{label}</span>

  <input
    type="checkbox"
    class="peer border-secondary checked:border-secondary-foreground size-5 cursor-pointer appearance-none rounded-sm border shadow-sm transition-all hover:shadow-md"
    title={label}
    {...rest}
  />

  <span
    class="absolute top-1/2 left-1/2 inline-flex -translate-x-1/2 -translate-y-1/2 transform items-center justify-center [&_svg[slot='off']]:inline [&_svg[slot='off']]:peer-checked:hidden [&_svg[slot='on']]:hidden [&_svg[slot='on']]:peer-checked:inline"
  >
    <slot />
    <slot name="on" />
    <slot name="off" />
  </span>
</label>
