---
import { IconMenu2 } from "@tabler/icons-react";

import MobileNavMenu from "~/components/MobileNavMenu";
import ThemeSwitcher from "~/components/ThemeSwitcher.astro";
---

<div>
  <div class="hidden items-center gap-4 md:flex">
    <slot />

    <slot name="search" />
    <ThemeSwitcher id="md" />
  </div>

  <div class="no-js md:hidden">
    <MobileNavMenu client:load>
      <div class="my-10 flex flex-col items-center gap-10">
        <div class="flex flex-col items-center gap-4">
          <slot />
        </div>

        <div class="flex flex-col items-center gap-4">
          <slot name="search" />
          <ThemeSwitcher id="xs" />
        </div>
      </div>
    </MobileNavMenu>
  </div>

  <noscript>
    <div class="md:hidden">
      <button
        popovertarget="navigation-menu"
        aria-label="Open Navigation Menu"
        title="Open menu"
      >
        <IconMenu2 />
        <span class="sr-only">Toggle Menu</span>
      </button>

      <div popover id="navigation-menu">
        <div class="mt-10">
          <div class="text-center">
            <h1
              class="text-center text-lg leading-none font-semibold tracking-tight"
            >
              Obi Fortune
            </h1>
          </div>

          <div class="my-10 flex flex-col items-center gap-10">
            <div class="flex flex-col items-center gap-4">
              <slot />
            </div>

            <div class="flex flex-col items-center gap-4">
              <slot name="search" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </noscript>
</div>

<style is:global>
  @reference "../styles/globals.css";

  body,
  [data-vaul-drawer-wrapper] {
    @apply transition-transform duration-500 ease-in-out;
  }

  body:has(#navigation-menu:popover-open) {
    background-color: var(--color-foreground);
    @apply pointer-events-none overflow-hidden overscroll-contain;

    & [data-vaul-drawer-wrapper] {
      @apply overflow-clip rounded-lg border;

      transform-origin: center top;
      transform: scale(0.9754716981132076)
        translate3d(0, calc(env(safe-area-inset-top) + 14px), 0);
    }
  }

  :popover-open {
    @apply bg-background fixed inset-[unset] inset-x-0 bottom-0 z-50 h-96 w-full rounded-t-md border;
  }

  ::backdrop {
    @apply bg-black/80;
  }
</style>
