---

---

<span
  id="progress-bar"
  class="bg-primary fixed top-0 left-0 z-9999 h-1 w-svw origin-left rounded-sm transition-transform duration-200"
></span>

<style>
  @keyframes scaleProgress {
    0% {
      transform: scaleX(0);
    }
    100% {
      transform: scaleX(1);
    }
  }

  #progress-bar {
    animation: scaleProgress auto linear;
    animation-timeline: scroll(root);
  }
  /* https://developer.mozilla.org/en-US/blog/scroll-progress-animations-in-css/ */
</style>
