---

---

<span
  id="progress-bar"
  class="fixed left-0 top-0 z-[9999] h-1 w-svw rounded transition-transform duration-200 bg-primary origin-left"
></span>

<style>
  @keyframes scaleProgress {
    0% {
      transform: scaleX(0);
    }
    100% {
      transform: scaleX(1);
    }
  }

  #progress-bar {
    animation: scaleProgress auto linear;
    animation-timeline: scroll(root);
  }
  /* https://developer.mozilla.org/en-US/blog/scroll-progress-animations-in-css/ */
</style>
