---
import { WAKATIME_API_KEY } from "astro:env/server";

import WakatimeLanguageCard from "~/components/WakatimeLanguageCard.astro";
import dayjs from "~/lib/date";
import Wakatime from "~/lib/wakatime";

Astro.response.headers.set(
  "Cache-Control",
  "public, max-age=86400, s-maxage=604800",
);
const currentTime = dayjs();
const wakatime = new Wakatime(WAKATIME_API_KEY);

const stats = await wakatime.getStatsWithRange({ range: "last_30_days" });
const statsLastYear = await wakatime.getStatsWithRange({ range: "last_year" });
---

<div class="my-4">
  <h2 class="text-lg leading-none font-bold tracking-tight">Stats</h2>
  <p class="text-muted-foreground leading-none tracking-tight">
    Sourced from <a href="https://wakatime.com">Wakatime</a>
  </p>
  <span class="text-muted-foreground text-sm leading-none tracking-tight"
    >Refreshed on{" "}
    <time datetime={currentTime.toISOString()}>{currentTime.format("LL")}</time>
  </span>
</div>

<div
  class="grid grid-cols-1 place-items-center items-center gap-4 md:grid-cols-2"
>
  <WakatimeLanguageCard data={stats.data} />
  <WakatimeLanguageCard data={statsLastYear.data} />
</div>
