---
import type { MarkProps } from "astro-portabletext/types";

type Props = MarkProps<{ href: string; _type: "link"; _key: string }>;

const {
  node: {
    markDef: { href },
  },
} = Astro.props;
---

<a href={href} class="hover-link"><slot /></a>
