---
import CodeBlock from "~/components/CodeBlock.astro";
import type { Code } from "~/t/sanity";

interface Props {
  node: Code;
  index: number;
  isInline: boolean;
}

const { node } = Astro.props;
---

<div class="not-prose">
  <CodeBlock
    code={node.code ?? ""}
    language={node.language}
    inline={false}
    title={node.filename}
    showLineNumbers={true}
  />
</div>
