---
import "@fontsource-variable/dm-sans";
import "@fontsource-variable/hepta-slab";

import { ClientRouter } from "astro:transitions";

import Meta from "~/components/Meta.astro";
import Posthog from "~/components/Posthog.astro";
import { Toaster } from "~/components/ui/sonner";
import type { MetaInput } from "~/lib/meta";

import "~/styles/globals.css";

interface Props {
  meta?: MetaInput;
}
---

<html lang="en">
  <head>
    <meta
      name="theme-color"
      content="#0a0a0a"
      data-group="meta-theming"
      data-light="#FFFFFF"
      data-dark="#0a0a0a"
    />
    <meta
      name="color-scheme"
      content="dark"
      data-group="meta-theming"
      data-light="light"
      data-dark="dark"
    />

    <meta charset="utf-8" />
    <link rel="shortcut icon" type="image" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />

    <link
      rel="alternate"
      type="application/rss+xml"
      title={`RSS Feed for ${Astro.site}`}
      href={new URL("rss.xml", Astro.site)}
    />
    <link rel="sitemap" href="/sitemap-index.xml" />

    <Meta meta={Astro.props.meta} />
    <Posthog />
    <ClientRouter />
  </head>

  <body class="bg-background text-foreground">
    <div data-vaul-drawer-wrapper class="flex w-full flex-col items-center">
      <slot />
    </div>
    <Toaster
      client:load
      toastOptions={{
        classNames: {
          error: "[&_svg]:text-destructive",
          success: "[&_svg]:text-success",
          warning: "[&_svg]:text-warning",
          info: "[&_svg]:text-info",
        },
      }}
      visibleToasts={4}
    />
  </body>
</html>
